/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

 :root {
 --theme-yellow: #f6cd25;
 --theme-red: #dc1638;
 }

body {
font-family: "Poppins";
margin: 0;
background: #eee;
display: flex;
flex-direction: column;
min-height: 100vh;
}

main {
  max-width: 760px;
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
  overflow: hidden;
}

h1, h2, h3, h4 {
  font-family: "Geo";
  font-weight: bold;
  margin:0;
  font-size: 1.8rem;
}

/* layout style */
.container{
  max-width: 1260px;
  margin: 40px auto;
  padding: 10px;
}
footer {
  background: #ddd;
  padding: 20px;
  text-align: center;
  flex-grow: 1
}

/* buttons */
button {
  background-color: var(--theme-red);
  border: 0;
  padding: 8px 10px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-family: "Poppins";
}